* {
    box-sizing: border-box;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
    margin: 0;
}

/* Add fontsize to button */

button {
    border: none;
    box-shadow: none;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.46838rem;
    background: var(--Button-Primary, #42600C);
    display: inline-flex;
    padding: 0.46838rem 0.99525rem;
    justify-content: center;
    align-items: center;
    gap: 0.87819rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
        font-weight: 500;
        font-style: normal;
        line-height: 1.75rem;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        font-style: normal;
        line-height: 1.75rem;
    }
    
    p, ul, ol {
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
    }  
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 3.5rem;
        font-weight: 500;
        font-style: normal;
    }

    h2 {
        font-size: 2.375rem;
        font-weight: 400;
        font-style: normal;
        line-height: auto;
    }

    p {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 150%;
        font-style: normal;
    }

}



/* nav mobile */

@media (max-width: 767px) {
    header {
        background-color: #FFF;
        display: flex;
        justify-self: auto auto;
        justify-content: space-between;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 20;
    }

    nav {
        display: flex;
        justify-self: auto auto;
        gap: 0.8rem;
    }

    nav, p {
        margin: 0;
    }

    .nav-logo {
    max-width: 103px;
    }

    .nav-logo-box {
        display: flex;
        justify-content: center;
        align-content: center;
        display: inline;
        padding-left: 0.5rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .nav-menu-img {
        max-width: 30px;
    }

    .nav-trolly {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-trolly-img {
        max-width: 30px;
    }

    .nav-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-search-img {
        max-width: 30px;
    }

    .nav-swedish {
        margin: 0 0.8rem 0 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-swedish-img {
        max-width: 30px;
        padding-top: 0.4rem;
        padding-bottom: 0.3rem;
    }

    .nav-products {
        display: none;
    }

    .nav-mission {
        display: none;
    }
}


/* nav desktop */

@media (min-width: 767px) {
    header {
        background-color: #FFF;
        display: flex;
        justify-self: auto auto;
        justify-content: space-between;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 20;
    }

    nav {
        display: flex;
        justify-self: auto auto;
        gap: 1.2rem;
    }

    nav, p {
        margin: 0;
    }

    .nav-logo {
    max-width: 103px;
    }

    .nav-logo-box {
        display: flex;
        justify-content: center;
        align-content: center;
        display: inline;
        padding-left: 0.5rem;
    }

    .nav-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-menu {
        display: none;
    }

    .nav-trolly {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-trolly-img {
        display: none;
    }

    .nav-search {
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-right: 2.5rem;
    }

    .nav-search-img {
        max-width: 24px;
        margin: 0 0 0 0.5rem;
    }

    .nav-swedish {
        margin: 0 1rem 0 0;
        display: flex;
        flex-direction:row-reverse;
        justify-content: center;
        align-items: center;
    }

    .nav-swedish-img {
        max-width: 40px;
        padding: 0.4rem 0 0.3rem 0.5rem;
    }
}

    /* hero */

    .hero-background-mobile {
        width: 100%;
        height: 698px;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .hero-h1 {
        position: absolute;
        top: 8.5rem;
        left: 1.563rem;
        width: 12rem;
        line-height: 2rem;
        color: #27241D;
        text-shadow: 3px 3px 4px #00000040;
    } 

    .hero-h2-mobile {
        position: absolute;
        top: 14.5rem;
        left: 1.563rem;
        font-size: 1rem;
        line-height: 1.3rem;
        font-weight: 400;
        color: #423D33;
        display: block;
    }

    .hero-h2-desktop {
        display: none; 
    }

    .hero-button {
        position: absolute;
        top: 19rem;
        left: 1.563rem;
        border: 1px solid;
        color: #000;
        background-color: #FFF;
        border-color: #504A40;
        
    }


/* view-section */

#view-section {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.view-section-header{
    display: flex;
    align-items: center;
    height: 3.4rem;
    gap: 1rem;
    align-self: stretch;
    padding-right: 0.4rem;
    margin-bottom: 1rem;
}

#regen-watch-header {
    color: #000;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 600;
}

.view-section-header-pro {
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    border-radius: 0.5rem;
    border: 2px solid var(--Button-Primary, #42600C);
    background: #FFF;
}

.view-section-header-pro-p {
    color: var(--Button-Primary, #42600C);
    font-size: 1.121rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02244rem;
}

.view-section-h2 {
    line-height: 0;
}

.view-section-paragraph {
    margin-top: 1.12rem;
    margin-bottom: 2.81rem;
}

.watch-img {
    aspect-ratio: 1;
    margin: 0;
}


#color-material-picker-container {
    display: flex;
    padding: 0.4rem;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
}

#button-black, #button-koppar, #button-silver, #button-leather, #button-rubber, #button-nylon {
    background: none;
	color: inherit;
	border: none;
	padding: 0.1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-right: 0.5rem;
}

.material-picker-container, .color-picker-container {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.material-picker-circle-p, .color-picker-circle-p{
    display: none;
    margin-top: 0.5rem;
    text-align: start;
}

.material-picker-minimun, .color-picker-minimun {
    margin: 0;
    min-width: 4rem;
    text-align: center;
    margin-bottom: 0.94rem;
    
}

.color-picker-circle, .material-picker-circle {
    height: 1rem;
    width: 1rem;
    background-color: lightgray;
    border-radius: 50%;
}

.first-color-circle {
    background: #2B2B2B;
}

.second-color-circle {
    background: #B87333;
}

.third-color-circle {
    background: #C4C4C4;
}

.first-material-circle {
    background: url(Assets/new-products/top-grain-leather.jpg);
    background-size: contain;
}

.second-material-circle {
    background: url(Assets/new-products/Rubber.jpg);
    background-size: contain;
}
   

.third-material-circle {
    background: url(Assets/new-products/Nylon.jpg);
    background-size: contain;

}

#design-your-own {
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 0.46838rem;
    background: var(--Button-Primary, #42600C);
    padding: 0.46838rem 0.99525rem;
    justify-content: center;
    align-items: center;
    gap: 0.87819rem;
    margin: 0 1rem;
    width: fit-content;
}

@media screen and (min-width: 769px) {
    #view-section {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: fit-content fit-content stretch fit-content;
        gap: 0.7rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;

    }

    .view-section-header, .view-section-h2, .view-section-paragraph, #color-material-picker-container {
        grid-column: 1 / 5;

    }
    .view-section-header {
        order: 1;
        justify-content: stretch;
    }
    .view-section-h2{
        order: 3;
        display: flex;
        flex-wrap: wrap;
        line-height: normal;
    }
    .view-section-paragraph {
        order: 4;
    }

    .watch-img {
        grid-column: 5 / 9 ;
        width: 100%;
        order: 2;
        grid-row: 1 / 5;
    }

    #color-material-picker-container {
        order: 5;
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .color-picker{
        grid-column: 1/2;
        order: 1;
        width: fit-content;
        margin-right: 2rem;
    }

    .material-picker {
        grid-column: 2/3;
        order: 2;
        width: fit-content;
    }

    #design-your-own {
        grid-column: 1/3;
        order: 3;
        margin: 2.75rem 0 0 0;
        max-width: 30rem;

    }

    .color-picker-minimun, .material-picker-minimun {
        text-align: start;
        width: fit-content;
    }

    .color-picker-container, .material-picker-container {
        justify-content: flex-start;
        width: fit-content;
    }

    .material-picker-circle, .color-picker-circle {
        margin-right: 1.56rem;
        width: 1.5rem;
        height: 1.5rem;
    }

    .material-picker-circle-p, .color-picker-circle-p{
        display: block;
        color: #000;
        font-size: var(--Paragraph-Mobil, 0.8125rem);
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
}

/* new-products and material-functions wrapper*/


.new-products-material-functions-wrapper {
    background: url(Assets/Desktop-Mobile-material-functions-background.jpg);
    background-size: cover;
    border-bottom: 1px solid white;

}

/* new-products-section */

#new-products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.new-products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-products-section h1 {
text-align: center;
}

.new-products-section-img {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    height: 24.6rem;
    aspect-ratio: 1;
    object-fit: scale-down;
    object-position: center;
    background: white;
}

@media screen and (min-width: 769px) {
    #new-products-section {
    background: none;
    border: none;
    }
    
    #new-products-section h1 {
    color: white;
    text-align: start;
    margin-left: 5rem;
    }
    
    .new-products-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
    
}

    .new-products-section-img {
        margin-right: 1rem;
    }

}

/* material-functions-section */

.material-functions-container {
    display: none;
}

#material-functions-card {
    background-color: #FFF;
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: fit-content;
    padding: 0rem 0.5rem;
    border-top: 1px solid white;
}

#material-functions-card h1 {
    line-height: 1.75rem; /* 100% */
    margin-top: 5rem;
}

.material-functions-card-square {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
    gap: 0.5rem;
}

.material-functions-card-square :last-of-type {
    margin-bottom: 3rem;
}

.material-functions-card-square-img {
    max-width: 100%;
    height: auto;
    grid-column: 1 / 2;
}

.material-functions-card-square-text {
    grid-column: 2/3;
    align-self: center;
}

.material-functions-card-square-text h2 {
    margin-top: 0;
    hyphens: auto; /* Add hyphens when breaking words */
    overflow-wrap: break-word; /* Ensure wrapping happens */
    word-break: break-word; /* Compatibility */

}

@media screen and (min-width: 769px) {
    #material-functions-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 6rem 1rem;
    }

    #material-functions-card h1 {
        line-height: 100%;
    }

    .material-functions-container {
        display: block;
        background: url(Assets/desktop/Senaste_inom_kladteknologin.jpg);
        background-size: cover;
        background-position: center;
        border-bottom: none;
    }

    #material-functions-card {
        background-color: #FFF;
        margin: 0;
        height: fit-content;
        padding: 0rem 0.5rem;

    }
}

/* desktop-mountain-wrapper */

.desktop-mountain-wrapper{
    background: url(Assets/desktop/bg-engagera.jpg) no-repeat center center;
    background-size: cover;
}


/* Adventure-section */

.adventure-h1 {
    text-align: center;
    margin-top: 5rem;
}

.adventure-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 1.75rem 1rem 5rem 1rem;

}

.adventure-card {
    position: relative;
}

.adventure-card-img {
    object-fit: cover;
    width: 100%;

}

.adventure-card-text {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    max-width: 100%;
    height: fit-content;
}

.adventure-card-text h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;

}

@media screen and (min-width: 769px) {
    
   .adventure-card-wrapper {
    display: flex;
    flex-direction: row;
   }

   .adventure-card {
    height: 50rem;
    width: 50rem;
    gap: 0.5rem;
    object-fit: cover;

   }

   .adventure-card-img {
    height: 100%;
    object-fit: cover;
}
}

/* ongoing-projects-section */

#ongoing-projects-section {
    margin: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects-h1 {
    margin-left: 1.5rem;
    margin-bottom: 1.75rem;
}

.article-standard, .article-reversed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: white;

}

.article-standard {
    grid-template-areas: "text image";
}

.article-reversed {
    grid-template-areas: "image text";
    
}


.project-article-text {
    grid-area: text;
    padding: 1rem;
}

.project-article-img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    grid-area: image;

}

@media screen and (min-width: 769px) {
#ongoing-projects-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 6.44rem;
}

.projects-h1 {
    grid-column: 1 / span 2;
    margin-left: 0;

}

.project-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-article-text {
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
}

.project-article-text h2 {
    hyphens: manual; /* Add hyphens when breaking words */
    overflow-wrap: break-word; /* Ensure wrapping happens */
    word-break: break-word; /* Compatibility */

}

.project-article-img {
    object-fit: cover;
    object-position: center;
    grid-column: 2/3;
    height: 100%;

}
}
/* Fix-it-section */

#fix-it-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fix-it-wrapper {
    margin: 2.38rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fix-it-h1 {
    margin-bottom: 1.75rem;
}

.fix-it-article{
    margin: 0 2.56rem 2.56rem 2.56rem;
    text-align: center;
}


.fix-it-button {
    display: flex;
    width: fit-content;
    padding: 0.5rem 1.0625rem;
    align-items: center;
    gap: 0.9375rem;
    border-radius: 0.5rem;
    background: var(--Button-Primary, #42600C);
    color: #FFF;
    font-size: var(--Min-mobil, 0.75rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .fix-it-p {
        margin: 0 2.56rem 2.56rem 2.56rem;
        text-align: center;
    }

    .fix-it-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem;
        margin: 0;
    }

    .fix-it-card-img {
        max-width: 100%;
        height: auto;
    }

    .desktop-only {
        display: none;
    }

    @media screen and (min-width: 769px) {
        .fix-it-card-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0.25rem;
            margin: 0;
        }

        .desktop-only {
            display: block;
        }
    }



/* newsletter-section */
#newsletter-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 1.5rem;
}

.newsletter-section-p{
    display: flex;
    padding: 0.54719rem;
    justify-content: center;
    align-items: center;
    gap: 0.54719rem;
    align-self: stretch;
}

.newsletter-form {
    display: grid;
    grid-template-columns: 1fr 7rem;
    background: #868181;
    border-radius: 0.46838rem;
}

.newsletter-form-input{
    height: 2rem;
    padding: 0.3605rem 0.54075rem;
    gap: 0.3605rem;
}

.newsletter-form-button{
    grid-column: 2;
}

.newsletter-form-checkbox {
    display: flex;
    align-items: flex-start;
    margin: 0.62rem 0.62rem 0.62rem 0;
}

.newsletter-form-checkbox-p {
    padding: 0 0.62rem;
}

.newsletter-form-checkbox-box {
    margin: 0;
}

.newsletter-img {
    display: none;
}

@media screen and (min-width: 769px) {
#newsletter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.newsletter-section-wrapper {
    grid-column: 1/2;
    margin: 1.37rem;
}

.newsletter-img {
    display: block;
    width: 100%;
    object-fit: cover;
    grid-column: 2 / 3;
    max-height: 70%;
    object-position: center;
}

}

/* Footer mobile */

@media (max-width: 767px) {
    footer {
        background-color: #8C8C8C;
        padding-top: 3.14rem;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1.4rem;
        padding-left: 1.563rem;
        padding-right: 1.563rem;
        position: relative;
        margin: 0;
    }

    .footer-h1 {
        max-width: 16rem;
        margin: 0 0 1.2rem 0;
    }

    .footer-ul {
        list-style-type: disc;
        max-width: 16rem;
        margin: 0;
        padding: 0 0 0 1rem;
    }

    .footer-ul ::marker {
        font-size: 0.7rem;
        margin: 0;
    }

    .footer-p {
        word-wrap: break-word;
        max-width: 12rem;
        margin: 0;
    }

    .footer-p-2 {
        word-wrap: break-word;
        max-width: 16rem;
        margin: 0 0 0.63rem 0;
    }

    .footer-phone-number {
        text-decoration: none;
        color: #000;
        margin: 0 0 0 0;
    }

    .footer-links {
        text-decoration: none;
        color: #000;
    }

    .footer-copy {
        margin: 1.7rem 0 0 0;
        font-weight: 200;
        max-width: 16rem;
    }

    .footer-logo {
        width: 170px;
        margin: 5.5rem 0 1.2rem 0;
        position: relative;
        justify-self: end;
        opacity: 0.5;
    }

    .footer-contact, .footer-customer-service, .footer-engage {
        margin-top: 1.4rem;
    }
}

/* Footer desktop */

@media (min-width: 767px) {
    footer {
        background-color: #8C8C8C;
        padding-top: 4.5rem;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        gap: 6rem;
        padding-left: 3.6875rem;
        padding-right: 3.6875rem;
        position: relative;
        margin: 0;
    }

    .footer-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr;
        gap: 2.1rem;
        position: relative;
        margin: 0;
        grid-column: 1 / span 2;
    }

    .footer-number {
        grid-column: 1;
    }

    .footer-h1 {
        margin: 0 0 1.2rem 0;
        font-size: 2.375rem;
    }

    .footer-ul {
        list-style-type: disc;
        margin: 0;
        padding: 0 0 0 1.5rem;
        font-size: 1.5rem;
    }

    .footer-ul ::marker {
        font-size: 1rem;
        margin: 0;
    }

    .footer-p {
        word-wrap: break-word;
        font-size: 1.5rem;
        max-width: 15rem;
    }

    .footer-p-2 {
        word-wrap: break-word;
        max-width: 20rem;
        margin: 0 0 0.63rem 0;
        font-size: 1.5rem;
    }

    .footer-read-more-button {
        margin: 0 0 0 0.5rem;
    }

    .footer-engage {
        max-width: 13rem;
        margin-left: 1.8rem;
    }

    .footer-contact {
        max-width: 16rem;
    }


    .footer-phone-number {
        text-decoration: none;
        color: #000;
        margin: 0 0 0 0;
        font-size: 1.75rem;
    }

    .footer-links {
        text-decoration: none;
        color: #000;
    }

    .footer-copy {
        margin: 6.6rem 0 0 0;
        font-weight: 200;
        grid-column: 1;
        grid-row: 2;
        position: relative;
    }

    .footer-logo {
        max-width: 590px;
        margin: 0 2rem 3.2rem 0;
        position: relative;
        justify-self: end;
        opacity: 0.5;
        grid-column: 2;
    }

    .footer-read-more-button {
        display: none; 
    }
}